.wrapper {
    margin: 1rem;
}
.btn + .btn {
    margin-left: 1rem;
}
.btn.first {
    margin-left: 1rem;
}

.site-title {
    margin-top: 0;
    color: darkslategrey;
}

.filter-container {
    display: flex;
    align-items: stretch;
    border: 1px solid lightsteelblue;
    border-radius: 4px;
}
.filter-container .filter-item {
    padding: 1rem;
    flex-grow: 1;
}

.filter-container .filter-item .search {
    display: inline-block;
    width: initial;
}

.grid-item {
    padding: 0;
    border-color: lightsteelblue;
}

.grid-item .link {
    display: block;
    padding: 1rem;
    text-decoration: none;
}
.grid-item .link:hover,
.grid-item .link:active {
    background-color: beige;
}

.grid-item .label {
    text-align: left;
    display: inline-block;
    color: black;
}

.grid-item h3 {
    margin-top: 0;
    color: lightcoral;
}


.details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.details-section {
    margin: 1rem 0;
}
